<ActionBar title="Contact Us" class="action-bar">
  <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
</ActionBar>
<StackLayout class="page">
  <GridLayout class="p-5 border" rows="auto *" columns="*">
    <StackLayout row="0" class="p-10 border">
      <Label class="h2" text="Contact Information"></Label>
      <Label class="m-25 body" [text]="contactInfo" textWrap="true"></Label>
      <StackLayout row="1" orientation="horizontal" rows="*" coulmns="*, *" class="m-t-20">
          <Button row="0" col="0" [text]="('fa-phone' | fonticon) + ' Call'" class="btn btn-rounded-sm btn-outline no-border fa" (tap)="callRestaurant()"></Button>
          <Button row="0" col="1" [text]="('fa-envelope-o' | fonticon) + ' Email'" class="btn btn-rounded-sm btn-outline no-border fa" (tap)="sendEmail()"></Button>
      </StackLayout>
    </StackLayout>
  </GridLayout>
    <Label *ngIf="errMess" textWrap="true" [text]="'Error: ' + errMess"></Label>
</StackLayout>
